<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartcity.redux"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="com.smartcity.redux.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.smartcity.redux.permission.MAPS_RECEIVE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <!-- Base permissions -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Google Cloud Messaging (GCM) permissions -->

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.smartcity.redux.permission.C2D_MESSAGE" />

    <!-- Required to show current location -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <!-- GCM receiver -->

<!--         <receiver
            android:name="com.smartcity.redux.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.smartcity.redux" />
            </intent-filter>
        </receiver> -->
        
        <receiver android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
    android:permission="com.google.android.c2dm.permission.SEND">
    		<intent-filter>
        		<action android:name="com.google.android.c2dm.intent.RECEIVE" />
        		<category android:name="com.smartcity.redux" />
    		</intent-filter>
		</receiver>

        <service android:name="com.smartcity.redux.GcmIntentService" />

        <activity
            android:name="com.smartcity.redux.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- Google API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/MapsAPIKey" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.smartcity.redux.AirMapActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme" >

            <!--
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
            -->
        </activity>
        <activity
            android:name="com.smartcity.redux.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.TrafficMapActivity"
            android:label="@string/title_activity_traffic_map"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.DirectionsActivity"
            android:label="@string/title_activity_directions"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.DirectionsInputActivity"
            android:label="@string/title_activity_directions_input"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.Hoboken311Activity"
            android:label="@string/title_activity_hoboken311"
            android:parentActivityName="com.smartcity.redux.MainActivity" >

            <!--
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
            -->
        </activity>
        <activity
            android:name="com.smartcity.redux.MyGasActivity"
            android:label="@string/title_activity_my_gas"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.Hoboken311MapActivity"
            android:label="@string/title_activity_hoboken311Maps"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.DirectionsInfoActivity"
            android:label="@string/title_activity_directions_info" >
        </activity>
        <activity
            android:name="com.smartcity.redux.MyEnergyActivity"
            android:label="@string/title_activity_my_energy"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.MyWaterActivity"
            android:label="@string/title_activity_my_water"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.AirQualityActivity"
            android:label="@string/title_activity_air_quality"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartcity.redux.EnergyCalculatorActivity"
            android:label="@string/title_activity_energy_calculator"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.CityEventsActivity"
            android:label="@string/title_activity_city_events"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.DiningActivity"
            android:label="@string/title_activity_dining"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.ShoppingActivity"
            android:label="@string/title_activity_shopping"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.InboxActivity"
            android:label="@string/title_activity_inbox" >
        </activity>
        <activity
            android:name="com.smartcity.redux.EmergencyReportActivity"
            android:label="@string/title_activity_emergency_report"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.EmergencyNeedActivity"
            android:label="@string/title_activity_emergency_need"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.EmergencyOfferActivity"
            android:label="@string/title_activity_emergency_offer"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.NewsletterActivity"
            android:label="@string/title_activity_newsletter"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.GuideActivity"
            android:label="@string/title_activity_guide"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.FormsActivity"
            android:label="@string/title_activity_forms"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.ParkingPermitActivity"
            android:label="@string/title_activity_parking_permit"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.RecreationFormActivity"
            android:label="@string/title_activity_recreation_form"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.VoterRegActivity"
            android:label="@string/title_activity_voter_reg"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.PollActivity"
            android:label="@string/title_activity_poll"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
        <activity
            android:name="com.smartcity.redux.QuestionActivity"
            android:label="@string/title_activity_question"
            android:parentActivityName="com.smartcity.redux.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.redux.MainActivity" />
        </activity>
    </application>

</manifest>